<!DOCTYPE html>
<html lang="en">
	<head>
	  	<title>Sign In</title>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
		<link rel="stylesheet" href="{{url_for('static', filename='signin.css')}}">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Bootstrap -->
	</head>
	<body>
		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>

