{% extends "main.html" %}
{% block content %}
{% include "header.html"%}
{% import "bootstrap/wtf.html" as wtf %}



<div class="container">
  <h1 class="" style="margin-bottom: 40px;">New Item</h1>
  <form action="{{url_for('newitem')}}" method='POST'>
   {{ form.hidden_tag() }}
  <div class="col-md-6">
  {{ wtf.form_field(form.name) }}
  {{ wtf.form_field(form.description) }}
  {{ wtf.form_field(form.category_id) }}

  </div>
  <div class="col-md-6">
   <button class="btn btn-primary  btn-size save_bottom" type="submit">Save</button>
  <a class="btn btn-danger btn-size  cancel_btn"  href='{{url_for('home')}}'> <span>Cancel</span>
  </a>

  </div>
  </form>



</div>



{% endblock %}
